.pawn-page {
	text-align: left;
	position: relative;
	padding: 10px 0;
	font-family: PingFangSC-Regular;
	.title {
		border-bottom: 1px solid #ccc;
		padding-bottom: 20px;
	}
	.pawn-form {
		width: 700px;
		text-align: left;
		padding: 30px 10px;
		.el-input,
		.el-select,
		.el-textarea {
			display: inline-block;
			width: 400px;
		}
		.el-textarea {
			vertical-align: top;
		}
		.coin-list {
			display: inline-block;
		}
		.coin-item {
			margin-bottom: 10px;
		}
		.coinCode {
			width: 150px;
			.el-input {
				width: 150px;
			}
		}
		.coin-addr {
			width: 240px;
			margin: 0 10px;
		}
		.unit {
			position: absolute;
			margin-left: 5px;
		}
	}
	.error-input {
		input.el-input__inner {
			border-color: #f56c6c;
		}
	}
	.required {
		.el-form-item__label::before {
			content: '*';
			color: #f56c6c;
			margin-right: 4px;
		}
	}

	.dialog-footer {
		margin-top: 50px;
		margin-left: 165px;
	}
}
