.coins-page {
	text-align: left;
	position: relative;
	padding: 10px 0;
	font-family: PingFangSC-Regular;
	.title {
		padding-bottom: 20px;
	}
}

.coin-list {
	width: 100%;
	min-width: 1000px;
	max-width: 1300px;
}
.choose-date {
	margin-bottom: 20px;
	.search-btn {
		margin-left: 30px;
	}
}
table {
	border: 1px solid #e8e8e8;
	border-collapse: collapse;
	width: 100%;
	margin-top: 24px;
	th,
	td {
		padding: 0 10px;
		text-align: center;
	}
}
.table-header {
	background: #f4f4f4;
	font-size: 18px;
	color: #4a4a4a;
	height: 46px;
	border: 0;
	th {
		font-weight: normal;
		min-width: 90px;
	}
	th.handle {
		min-width: 240px;
	}
}

.table-body {
	height: 56px;
	background: 0;
	border-bottom: 1px solid #e9e9e9;
	font-size: 14px;
	color: #000000;
	.oprate {
		color: #2ab3ce;
		cursor: pointer;
		font-size: 16px;
		span {
			margin: 0 8px;
		}
	}
}
.table-body:hover {
	background: #f9f9f9;
}
.pagers {
	text-align: right;
	font-size: 14px;
	color: #888585;
	margin-top: 20px;
	.el-pager li.active {
		background: #ffffff;
		border: 1px solid #e8e8e8;
		border-radius: 2px;
		font-size: 18px;
		color: #2ab3ce;
	}
	.el-pagination button:disabled {
		color: #b8b8b8;
	}
	.el-pagination.is-background .btn-next,
	.el-pagination.is-background .btn-prev,
	.el-pagination.is-background .el-pager li {
		background: #ffffff;
		border: 0;
		font-size: 14px;
		color: #878585;
	}
}

.right-top {
	position: absolute;
	right: 20px;
	top: 3px;
	.add-btn {
		display: inline-block;
		width: 120px;
		height: 40px;
		line-height: 40px;
		font-size: 18px;
		color: #fff;
		background: #2ab3ce;
		text-align: center;
		border-radius: 5px;
		cursor: pointer;
	}
}

.red {
	color: #ff5c1b;
}
.disable {
	color: #999;
	cursor: default;
}
